.c-btn{
    margin: 10px auto;
    &__serch{
        margin: 0px;
    }
    &__like{
        margin: 10px;
        border: none;
        background-color: white;
        vertical-align: middle;
        outline: none;

    }
    &__fa--red{
        color: red;
    }
    &__mypage{
        display: block;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    &__delete{
        color: red;
        border-color: red;
    }
}

